<ul>
    <li>title: {{title}}</li>
    <li>title (uppercase): {{title | uppercase}}</li>
    <li>title (lowercase): {{title | lowercase}}</li>
    <li>title (capitalize): {{title | capitalize}}</li>
    <li>now: {{now}}</li>
    <li>now (date): {{now | date}}</li>
    <li>today: {{today}}</li>
    <li>today: {{today | date}}</li>
    <li>today (date:'medium'): {{today | date:'medium'}}</li>
    <li>today (date:'long'): {{today | date:'long'}}</li>
    <li>today (date:'short'): {{today | date:'short'}}</li>
    <li>today (date:'MMMdd-yyyy'): {{today | date:'MMMdd-yyyy'}}</li>
    <li>Num</li>
    <li>Num: {{5}}</li>
    <li>Num (power): {{5 | power}}</li>
    <li>Num (power:2): {{5 | power:2}}</li>
    <li>Num (power:-1): {{5 | power:-1}}</li>
    <li>Num (power:1/2): {{2 | power:0.5}}</li>
</ul>